/** 
* CONTENTS
* HEADER
* HERO  
* SERVICES 
* WORK
* FOOTER
*/

/*-------------------------- *\
  #HEADER
\*---------------------------*/

.header__logo {
  inline-size: 8rem;
  block-size: 2rem;
}

/*-------------------------- *\
  #HERO
\*---------------------------*/

.hero {
  background-image: url("../assets/patterns/bg-pattern-intro-left-mobile.svg"),
    url("../assets/patterns/bg-pattern-intro-right-mobile.svg");
  background-position: center left, bottom right;
  background-repeat: no-repeat;
}
.hero__content {
  align-items: center;
  justify-content: center;

  block-size: 500px;

  padding: var(--spacing-150);
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  color: var(--gray-50);
}
.hero__description {
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--gray-700);
  padding: 1rem 0 2rem;
}

.hero__link-cta {
  color: var(--gray-50);
}
.hero__link-cta:hover {
  border: 1px solid var(--blue-950);
  background-color: var(--gray-50);
  color: var(--blue-950);
}

/*-------------------------- *\
  #SERVICES
\*---------------------------*/

.services__title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-950);
}
.service {
  align-items: center;
  justify-content: center;
  gap: var(--spacing-150);

  padding-block: var(--spacing-200);
  text-align: center;
}
.service h3 {
  color: var(--blue-950);
}
.service p {
  color: var(--blue-500);
}

/*-------------------------- *\
  #WORK
\*---------------------------*/

.work__content {
  align-items: center;
  justify-content: center;

  padding: var(--spacing-200);
  block-size: 400px;

  background-image: url("../assets/patterns/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.work__title {
  font-size: 2.5rem;
  color: var(--gray-50);
  margin-block-end: var(--spacing-150);
}

.work__link-cta {
  color: var(--gray-50);
}
.work__link-cta:hover {
  border: 1px solid var(--blue-950);
  background-color: var(--gray-50);
  color: var(--blue-950);
}

/*-------------------------- *\
  #FOOTER
\*---------------------------*/
.footer {
  background-color: hsl(273, 4%, 95%);
  background-image: url("../assets/patterns/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.footer__logo {
  inline-size: 8rem;
  block-size: 2rem;
}

/*-------------------------- *\
  #MEDIA-QUERIES
\*---------------------------*/

@media (min-width: 48rem) {
  /* Hero */
  .hero {
    background-image: url("../assets/patterns/bg-pattern-intro-left-desktop.svg"),
      url("../assets/patterns/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom -100% left, top right;
  }
  .hero__image {
    transform: translateY(150px);
  }
  .hero__content {
    align-self: center;
  }
  .hero__title {
    max-inline-size: 15ch;
  }
  .hero__description {
    max-inline-size: 56ch;
  }

  /* Services */
  .services {
    overflow: visible;
  }
  .services .container {
    padding-block-start: 16rem;
  }
  .services__title {
    text-align: left;
    padding-block: var(--spacing-300);
  }
  .services__title::before {
    content: "";
    display: block;

    inline-size: 6rem;
    block-size: 2px;
    margin-block-end: 2rem;

    background-color: var(--gray-700);
  }

  /* Work */
  .work__content {
    background-image: url("../assets/patterns/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    block-size: auto;
    padding: var(--spacing-300);
  }
  .work__title {
    max-inline-size: 20ch;
    text-align: left;
  }

  /* Footer */
  .footer {
    background-image: url("../assets/patterns/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }
}
