/** 
* CONTENTS
* HEADER
* HERO  
* SERVICES 
* WORK
* FOOTER
*/

/*-------------------------- *\
  #HEADER
\*---------------------------*/

.header__logo {
  inline-size: 8rem;
  block-size: 2rem;
}

/*-------------------------- *\
  #HERO
\*---------------------------*/

.hero {
  background-image: url("../assets/patterns/bg-pattern-intro-left-mobile.svg"),
    url("../assets/patterns/bg-pattern-intro-right-mobile.svg");
  background-position: center left, bottom right;
  background-repeat: no-repeat;
}
.hero__content {
  padding: var(--spacing-150);
  height: 500px;
}
.hero__title {
  font-size: 2.5rem;
  color: var(--gray-50);
}
.hero__description {
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--gray-700);
  padding: 1rem 0 2rem;
}

/*-------------------------- *\
  #SERVICES
\*---------------------------*/

.services__title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-950);
}
.service {
  gap: var(--spacing-150);
  padding-block: var(--spacing-200);
}
.service h3 {
  color: var(--blue-950);
}
.service p {
  color: var(--blue-500);
}
/*-------------------------- *\
  #WORK
\*---------------------------*/

.work__content {
  padding: var(--spacing-200);
  height: 400px;

  background-image: url("../assets/patterns/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.work__title {
  font-size: 2.5rem;
  color: var(--gray-50);
  margin-block-end: var(--spacing-150);
}

/*-------------------------- *\
  #FOOTER
\*---------------------------*/
.footer {
  background-color: hsl(273, 4%, 95%);
  background-image: url("../assets/patterns/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.footer__logo {
  inline-size: 8rem;
  block-size: 2rem;
}
