@font-face {
  font-family: "DM Serif Display";
  src: url("../assets/fonts/DM-Serif-Display/DMSerifDisplay-Regular.ttf")
    format(trueType);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Regular.ttf") format(trueType);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Bold.ttf") format(trueType);
  font-weight: 700;
  font-display: swap;
}
